*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 20.5%;
    height: 87vh;
    min-width: 20.5%;
    min-height: 87vh;
    background-color: black ;
    border-radius: 2.8rem;
    position: relative;
}
.input-1{
    position: absolute; top: 20px; left: 20px;
}
input{
    width: 240px;
    height: 120px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: white;
    font-size: 50px;
    text-align: right;
}
.buttons{
    padding-top: 150px;
    padding-left: 3px;
}
button{
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin: 5px;
    outline: none;
    border: none;
    background-color: #313131;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

}
.zero{
    width: 125px;
    height: 55px;
}
.orange{
    background-color: #f69906;
}
.ss{
    background-color: #A0a0a0;
    color: black;
    font-weight: 600;
}
.line{
    width: 90px;
    height: 5px;
    border-radius: 2px;
    background-color: white;
    position: relative; left: 90px; top: 45px;
}